@import "variables.less";
@import "helpers.less";
@import "core.less";
@import "nav.less";
@import "forms.less";
@import "sidebar.less";
@import "grid.less";
@import "tables.less";
@import "panels.less";
@import "pages.less";
@import "plugins.less";

// Buttons

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: @brand-primary;
}

.btn-success.btn-outline {
    color: @brand-success;
}

.btn-info.btn-outline {
    color: @brand-info;
}

.btn-warning.btn-outline {
    color: @brand-warning;
}

.btn-danger.btn-outline {
    color: @brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}

// Login Page

.login-panel {
    margin-top: 25%;
}

// Flot Charts Containers

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

// Circle Buttons

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

// Grid Demo Elements

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

// Custom Colored Panels

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: @brand-success;
    .panel-heading {
        border-color: @brand-success;
        color: white;
        background-color: @brand-success;
    }
    a {
        color: @brand-success;
        &:hover {
            color: darken(@brand-success, 15%);
        }
    }
}

.panel-red {
    border-color: @brand-danger;
    .panel-heading {
        border-color: @brand-danger;
        color: white;
        background-color: @brand-danger;
    }
    a {
        color: @brand-danger;
        &:hover {
            color: darken(@brand-danger, 15%);
        }
    }
}

.panel-yellow {
    border-color: @brand-warning;
    .panel-heading {
        border-color: @brand-warning;
        color: white;
        background-color: @brand-warning;
    }
    a {
        color: @brand-warning;
        &:hover {
            color: darken(@brand-warning, 15%);
        }
    }
}
