/***** Admin Pool *****/
#pool-map #map-canvas {
    height: 400px;
}

#saens-rows {
    tr {
        &.selected {
            background: #FFE87A !important;
        }

        .tr-selectable {
            cursor: pointer;
            input {
                cursor: pointer;
            }
        }

        &.out-of-date {
            background: #FFEFEF;
        }
    }

    #tags-list {
        margin: 5px 0;
        a {
            display: inline-block;
            padding: 5px;
            margin: 0 5px;
            border-radius: 4px;
            color: #fff;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}

#reserv {
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 79px;
        z-index: 0;
        display: block;
        width: 2px;
        content: "";
        background-color: #e9e5e5;
    }
    .event {
        position: relative;
        margin-top: 70px;
        margin-bottom: 70px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding-right: 40px;
        background: #fff;

        &.main {
            table {
                margin-bottom: 0;
            }
            margin-bottom: 60px;
            margin-top: 0px;
            padding-right: 0;
        }

        .datetime {
            position: absolute;
            direction: ltr;
            left: 0px;
            top: -17px;
        }

        .body {
            z-index: 2;
            padding: 5px;
            border-radius: 4px;
            background: #F3F3F3;
            position: relative;

            .more-info {
                padding: 5px 0;
                background: #B0BEC5;
                border-radius: 4px;
                ul {
                    // padding-right: 25px;
                }
            }

            ul {
                margin-bottom: 5px;
                padding-right: 30px;
            }

            .event-id {
                font-size: 25px;
                position: absolute;
                left: 5px;
                top: 0;
                color: #BBBBBB;
            }
        }

        > .more-info {
            position: absolute;
            direction: ltr;
            left: 0;
            bottom: 0;
            color: #fff;
            background: #9E9E9E;
            border-radius: 0 0 0 4px;
            padding: 0 10px;
            cursor: pointer;
            z-index: 2;
        }

        &.success {
            .body {
                border-right: solid 5px #5CB85C;
            }
        }

        &.danger {
            .body {
                border-right: solid 5px #d9534f;
            }
        }

        &.warning {
            .body {
                border-right: solid 5px #f0ad4e;
            }
        }

        &.info {
            .body {
                border-right: solid 5px #5bc0de;
            }
        }
    }
}

#coupon-panel {
    #pools {
        > .col-sm-6:nth-child(2n) {
            &:before,
            &:after {
                content: " ";
                display: table;
            }
            &:after {
                clear: both;
            }
        }

        ul > li > a {
            color: #B18212;
            text-decoration: none;
        }
    }

    #saens-rows-modal {
        background: rgba(125, 125, 125, 0.7);

        .modal-content {
            padding: 5px;
        }

        tr {
            &.selected {
                background: #FFE87A !important;
            }

            .tr-selectable {
                cursor: pointer;
                input {
                    cursor: pointer;
                }
            }
        }
    }
}
